
    <div id="root"></div>
    <script type="text/javascript">
    <% if current_user %>
        window.currentUser = JSON.parse(`<%= current_user.as_json.inspect.html_safe.gsub('=>', ':').split(', "created_at"')[0].html_safe + '}'%>`)
    <% end %>
    </script>
