.form {width: 90%;max-width: 440px;/* margin: 3rem 15rem; */margin: 0rem auto 0;padding: 3rem 3rem;background: #fff;}

.fieldset {/* display: flex; */margin-bottom: 1rem; border: 0;}

.field {
    
    width: 100%;
}

.field-half {
    width: 50%;
    margin-right: 5%;
}

.field-third {
    margin-right: 5%;    
    width: 30%;
}

.label {
    display: block;
    margin-bottom: 0.3rem;
}

.input {width: 100%;border-radius: 5px;border: 1px solid #ddd;padding: 0.6rem;}

.form-error {
    color: red;
    margin-top: 0.4rem;
    display: block;
}