.page-home {
    /*background-color: #3484C6;*/
    /*background-color: #6CB2DD;*/
    padding: 0rem 0 20rem;
}

.page-auth {
    background-color: #eee;
    height: 90vh;
    overflow: hidden;
    padding: 7rem 0;
}